<div class="nav-bar">
  <div class="nav-bar-cart">
    <i class="bx bx-cart bx-sm"></i>
  </div>
  <div class="nav-bar-logo">LOGO</div>
  <div class="nav-bar-menu">
    <i class="bx bx-menu bx-sm"></i>
  </div>
</div>

<div>
  <img
    class="banner"
    src="https://ik.imagekit.io/j7qqqsszq/e-commerce/bags/banner-dark_W5uq7Dv5o.jpg?updatedAt=1697958716476"
    alt="banner"
  />
</div>

<div class="header">
  <h4 class="collection-header">Gucci - GG Marmont matelasse mini bag</h4>
</div>

<div class="product-list-container">
  <div class="product-list">
    <img
      class="product-img"
      src="https://ik.imagekit.io/j7qqqsszq/e-commerce/bags/21789859-1-nero-removebg-preview_wgW5IS-k3.png?updatedAt=1697958716470"
      alt="Bag"
    />
  </div>
  <div class="product-price">$2350</div>
  <div class="product-info">
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Rem minus
    perspiciatis quas sapiente. Ea eveniet debitis itaque! Libero id debitis
    nobis nihil totam commodi tenetur quae nam, temporibus quaerat qui. Commodi
    perferendis consequatur ex blanditiis totam atque veritatis reiciendis optio
    architecto, assumenda illo rerum, voluptatem eaque nemo, laboriosam
    cupiditate reprehenderit impedit esse qui corrupti est. Officia esse
    perspiciatis fugiat ipsam. Est omnis perspiciatis quos delectus sequi? Modi
    optio numquam neque ex dignissimos in, temporibus blanditiis fugit aliquid
    nemo quo. Illum molestias laboriosam voluptate adipisci facilis aut rem non,
    placeat consectetur.
  </div>
</div>

<div class="buy-btn-container">
  <button class="buy-btn">Buy Now</button>
</div>
