<div class="nav-bar">
  <div class="nav-bar-cart">
    <i class="bx bx-cart bx-sm"></i>
  </div>
  <div class="nav-bar-logo">LOGO</div>
  <div class="nav-bar-menu">
    <i class="bx bx-menu bx-sm"></i>
  </div>
</div>

<div class="container">
  <div class="header">
    <h2 class="collection-header">
      New collection <br />
      Spring 2023
    </h2>
    <i class="bx bxs-chevron-down-circle bx-lg"></i>
  </div>

  <div class="land-img-container">
    <img
      class="land-img"
      src="https://ik.imagekit.io/j7qqqsszq/e-commerce/Screen_Shot_2022-06-01_at_1.04.22_AM_lU5uC-XyW.png?updatedAt=1697973306180"
      alt="landing-image"
    />
  </div>

  <div class="btn-container">
    <h4 class="btn">Bags</h4>
    <h4 class="btn">Makeup</h4>
    <h4 class="btn">Clothing</h4>
    <h4 class="btn">Accessories</h4>
  </div>

  <div class="product-list-container">
    <div class="product-list" [routerLink]="['/product/bags']">
      <img
        class="product-img"
        src="https://ik.imagekit.io/j7qqqsszq/e-commerce/bags_300_vKpy1UGw8.png?updatedAt=1697852201138"
        alt="Bag"
      />
      <h5 class="product-list-text">Bags</h5>
    </div>
    <div class="product-list">
      <img
        class="product-img"
        src="https://ik.imagekit.io/j7qqqsszq/e-commerce/boots.jpeg?updatedAt=1697852213151"
        alt="Cosmetic"
      />
      <h5 class="product-list-text">Cosmetics</h5>
    </div>
    <div class="product-list">
      <img
        class="product-img"
        src="https://ik.imagekit.io/j7qqqsszq/e-commerce/dress_300_dzbEB-OXo.png?updatedAt=1697852142390"
        alt="Dress"
      />
      <h5 class="product-list-text">Dress</h5>
    </div>
    <div class="product-list">
      <img
        class="product-img"
        src="https://ik.imagekit.io/j7qqqsszq/e-commerce/TheIntrepidSport-RoseGold-Packshot_a305f067-fc42-4fb7-b739-4a4d4f779d64_1140x1140.webp?updatedAt=1697852428836"
        alt="Accessories"
      />
      <h5 class="product-list-text">Accessories</h5>
    </div>
  </div>
</div>
